@import 'reset';
@import 'defs';

html{
    overflow: auto;
}
body {
    font-family: $font-main;
    color: $primary-color;
    background-color: #EBEBEB;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
}
html, body{
    height:100%;
    margin:0;
    overflow: auto;
}
.select-text{
    -webkit-user-select: text;
    user-select: text;
    cursor: text;
    word-break: break-all;
}
#appContainer{
    display: flex;
    align-content: stretch;
    flex-direction: row;
    height: 100%;

    #appNav{
        width: 80px;
        position: relative;

        menu{
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: #333333;
            position: fixed;
            width: 80px;
            height: 100%;
            display: flex;
            flex-direction: column;
            li{

                height: 60px;
                align-items: flex-end;
                display: flex;
                justify-content: center;
                padding: 5px 0;
                border-bottom: 1px #666666 solid;
                cursor: pointer;
                a{
                    color: #fff;
                }
            }
            li.selected,li.selected:hover{
                background-color: #5A5A5A;
            }
            li:hover{
                background-color: #3f3f3f;
            }
            li.streach {
                flex: 1 1 auto;
                cursor: initial;
            }
            li.streach:hover{
                background-color: initial;
            }
            li[user-profile] {
                height: auto;
            }
        }
    }
    .container{
        flex: 1;
    }
    .btn {
        font-weight: 300;
    }
}

.headerRow{
    display: flex;

    &.form-group{
        margin-bottom: 0px;
    }

    .input.headerName{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 35%;
        min-width: 150px;
        flex: 0 0 auto;
    }
    input[name="headerValue"]{
        border-radius: 0;
        margin-left: -1px;
        flex: 0 1 auto;
    }
    button[name="headerRemove"]{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
        min-width: 75px;
        flex: 0 0 auto;
    }
}
.request-form{
    margin-top: 0.6em;
}
div.tab-content {
    margin-top: 2px;
}
/* REQUEST HEADERS */
[hidable-editor-form].collapsed [hiddable]{
    display: none;
}
[hidable-editor-form].collapsed .collapse-form .caret{
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
[hidable-editor-form] .collapse-form .caret{
    -webkit-transition: -webkit-transform 0.3s;
}
label.collapse-form {
    /*font-size: 14px;*/
    color: $secondary-color;
    font-weight: 300;
    margin-bottom: 10px;
    display: block;
}
.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px #d8d8d8 solid;
    position: relative;
    .cart-title{
        font-weight: bold;
        margin: 0px 0 7px 0;

        .title-dropdown{
            margin-left: 2em;
        }
    }
}
.form-action-bottom{
    margin-top: 7px;
}

.container .CodeMirror {
    border: 1px #F7F7F7 solid;
    height: auto;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    min-height: 55px;
    pre {
        word-break: break-word;
        word-wrap: break-word;
    }
    &.noborder{
        border: none;
    }
    &.CodeMirror-wrap pre{
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: normal;
        display: block;
        color: black;
        font-family: monospace;
        padding: 0 4px;
        line-height: 1.3;
    }
}


.CodeMirror-scroll {
    cursor: text;
}
.cursor-pointer{
    cursor: pointer;
}
.dropdown-menu > li > a.btn-primary {
    color: #fff;
    cursor:pointer;
    &:hover{
        background-color: #3276b1;
    }
}



.tabbable{
    ul.nav.nav-tabs {
        position: absolute;
        right: 0;
        top: 0;
        border-bottom: none;
        li a{
            cursor: pointer;
            padding-bottom: 5px;
            color: #333;
            &:hover{
                background-color: transparent;
                border-color: transparent;
                text-decoration: underline;
            }
        }
        li.active a {
            border-bottom: none;
            margin-top: 0px;
            border-left: none;
            border-right: none;
            border-radius: 0px;
            border-top: 3px rgb(255, 123, 123) solid;
            font-weight: 400;
            padding-top: 8px;
            &:hover{
                text-decoration: none;
            }
        }
    }

}

div.file-drop {
    min-height: 150px;
    width: 100%;
    border: 3px rgb(176, 176, 247) dashed;
    display: flex;
    align-items: center;
    justify-content: center;

    &.over {
        border: 3px dashed #1010A0;
        .drop-info {
            color: #1010A0;
        }
        .fallback-info,
        .btn{
            opacity: 0.4;
        }
    }
    .drop-info {
        display: block;
        font-size: 20px;
        color: rgb(160, 160, 160);
        font-weight: 400;
    }
    .fallback-options {
        display: inline-block;
        text-align: center;

        .fallback-info{
            display: block;
            color: rgb(160, 160, 160);
            -webkit-transition: opacity 0.4s;
            margin-top: 5px;
        }

        .btn{
            -webkit-transition: opacity 0.4s;
        }
    }

    #ArcHttpFilesInput{
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
.files-list{
    .item {
        display: inline-block;
        margin-right: 7px;
        padding: 3px 5px;
        border: 1px #e5e5e5 solid;
        margin-top: 7px;
        &:hover{
            background-color: $lineHoverBackground;
            .badge{
                cursor: pointer;
            }
        }
    }
}



.redirect-location{
    margin-bottom: 7px;
}



/* XML PARSER */
#XML-parser {
    color: black;
    cursor: text;

    *{
        vertical-align: middle;
    }

    .prettyPrint{
        font-family: monospace;
        font-size: 13px;
    }
    .arrowEmpty{}
    .node{
        margin:1px 0px;

        &.opened > .arrowEmpty{
            text-indent: 0;
            font-size: 10px;
            letter-spacing: 0.1em;
            width: 21px;
            margin-left: 3px;
            margin-right: 3px;
        }
    }
    .opened{}
    .comment{
        color: #236E25;
    }
    .punctuation{
        color: black;
    }
    .tagname{
        color: #881280;
    }
    .attname{
        color: #994500;
    }
    .attribute{
        color: #1A1AA6;
    }
    .cdata{
        color: #48A;
    }
    .arrowExpanded{
        cursor: pointer;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAG7AAABuwE67OPiAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAY1JREFUeNrUU7FqYlEUnHtzXcWHoButRAVBeRY2sr1N9gMk/xCSXwgL26RJsV+QhbRbp44+iITYuBY2L8hamvAUER9eg+fed7ZZLBY3JFjt1HPmnMPMCGbGPpDYE3sLKAAQQgjXdRPvGfR9/4WZWQFAtVq9aDab51EUYbPZgIhgjIG1FqvVCvF4HLFYDEIIOI4DpRSKxeIVgBMFAET0LQiC01arlZnNZmI+n2O5XEJrjSiK4DgOkskkpJTQWnMYhitr7dftC+PxeF6pVD6n0+mHRqPxQSkFKSWklLDWgoiwXq8BAMxsgyBodTqdp60AAIxGo5+u656mUqmrbDZ7IIQAM4OI8OdKJBIJO5lMvnied7vTBd/3r9vt9vfFYmEBwBiz3W6tNdPp9MbzvMtXbczlcmfdbndARJaZobUGERmt9S8iOv6bL3YlsVwufywUCo+lUulwOBwik8kstdZur9d7fpMAANRqtU/5fP4+DENhjDnq9/t3u3jitS7U6/VjpVRsMBj8+BdH/P9l+j0ArLXMX3wMb+MAAAAASUVORK5CYII=);
        background-size: contain;
        background-repeat: no-repeat; 
        background-position: 0 0;
    }
    .arrowExpanded,
    .arrowEmpty{
        display: inline-block;
        width: 10px;
        height: 10px;
    }
    .processing{
        color: #999;
    }
    .inline,
    .inline > div {
        display: inline-block;
        text-indent: 0px;
    }

    .nodeMargin{
        margin-left: 20px;
    }
    .collapseIndicator{
        display: none;
        margin: 0px 1px;
        text-indent: 0px;
    }
    div[data-expanded="false"] .arrowEmpty{
        display: none;
    }
    div[data-expanded="false"] .arrowExpanded{
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAG7AAABuwE67OPiAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAXtJREFUeNqkkz1PAkEYhGf3ll2+EoLSU5AL0FxQookkFnTGjv4KowXW/hVjo52NtpZUNHCh8A9YWNAe4a7Y5ZLL3oeFmhg9BXXKt3gymZmXpGmK/4h+PrRarWPLsuw/AwDYw+Hwttvt3vT7ffIXACqVCrFt+zSKosdGo7H1KwBjDMvlEpRSOhgMOqZpPpmmubMxgHMOz/Pg+z6UUrTX621bljVrt9snWQCWATCklEiSBJRSACD1ep1zzm86nc5BtVo9H4/H6beAXC5nBEGAOI5BCEGSJIjjGEII1mw2z+bz+S4hZD996z8T4HketNbQWiMMQ4RhCKUUKKUpY4ysC5GWSiUUi0Xk83lwzkEpRa1Wi4QQd4VCYS/9sD6WAWDlchlBELzbT1erlVZKXTiOc7U2RONV74HGWmultT5yHGe2UQuMMUMpBUJIJKV8dl33cDqdLjbegWEYhhACrus++L7fnkwmi5+W+MWBlPJSSnk/Go2uN3km8t93fhkAy12coWWRRe4AAAAASUVORK5CYII=);
    }
    div[data-expanded="false"] div[collapsible]{
        display: none !important;
    }
    div[data-expanded="false"] div[collapse-indicator]{
        display: inline-block !important;
    }
}

#JSON-parser {
    font-family: monospace;
    font-size: 10pt;
    color: black;
    cursor: text;
    
    *{
        vertical-align: middle;
    }
    
    .stringValue{
        white-space: normal;
    }
    .brace{
        display: inline-block;
    }
    .numeric{
        color: blue;
    }
    .nullValue{
        color: #708;
    }
    .booleanValue{
        color: #708;
    }
    .punctuation{
        color: black;
    }
    .stringValue{
        color: #48A;
    }
    .node{
        position: relative;
        white-space: nowrap;
        margin-bottom: 5px; 
        word-wrap: break-word;
    }
    div[data-expanded="false"] div[data-element]{display: none !important;}
    .arrayCounter{
        color: gray;
        font-size: 11px;
    }
    .arrayCounter:before {
        /* 	content: "size"; */
    }
    .keyName{
        color: rgb(206,123,0)
    }
    .rootElementToggleButton{
        position: absolute;
        top: 0px;
        left: -9px;
        font-size: 14px;
        cursor: pointer;
        font-weight: bold;
    }
    .arrayKeyNumber{
        color: rgb(119, 119, 119);
    }
    .infoRow{
        display: none;
        margin: 0px 7px;
        text-indent: 0px;
    }
    .bodyPanel div[data-expanded="false"] div[collapse-indicator]{
        display: inline-block !important;
    }
}
.user-widget{
    .user-img{
        width: 40px;
    }
}
p.bg-info,
p.bg-danger,
p.bg-primary,
p.bg-success,
p.bg-warning{
    padding: 7px 10px;
}

.suggestions-container {
    position: relative;
    display: block;
    .suggestions-display{
        position: absolute;
        z-index: 1;
        background-color: #fff;
        margin: 0;
        padding: 5px;
        list-style: none;
        border: 1px #e5e5e5 solid;
        white-space: nowrap;
        top: 33px;
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
        max-height: 250px;
        overflow-y: auto;
        .suggestion-item:hover,
        .suggestion-item.selected{
            background-color: rgb(231, 236, 243);
        }
    }
    .form-control{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
}


.connection-error{
    white-space: pre;
}