html, body, ul, ol {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(../fonts/roboto/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/roboto/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url(../fonts/roboto/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/roboto/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/roboto/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url(../fonts/roboto/12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url(../fonts/roboto/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(../fonts/roboto/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(../fonts/roboto/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url(../fonts/roboto/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format("woff"); }
html {
  overflow: auto; }

body {
  font-family: Roboto, arial, sans-serif;
  color: #333333;
  background-color: #EBEBEB;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300; }

html, body {
  height: 100%;
  margin: 0;
  overflow: auto; }

#appContainer {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  height: 100%; }
#appContainer #appNav {
  width: 80px;
  background-color: #333333; }
#appContainer #appNav menu {
  margin: 0;
  padding: 0;
  list-style: none; }
#appContainer #appNav menu li {
  height: 60px;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  border-bottom: 1px #666666 solid;
  cursor: pointer; }
#appContainer #appNav menu li a {
  color: #fff; }
#appContainer #appNav menu li.selected, #appContainer #appNav menu li.selected:hover {
  background-color: #5A5A5A; }
#appContainer #appNav menu li:hover {
  background-color: #3f3f3f; }
#appContainer .container {
  flex: 1; }
#appContainer .btn {
  font-weight: 300; }

.headerRow {
  display: flex; }
.headerRow.form-group {
  margin-bottom: 0px; }
.headerRow input[name="headerName"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 35%;
  min-width: 150px;
  flex: 0 0 auto; }
.headerRow input[name="headerValue"] {
  border-radius: 0;
  margin-left: -1px;
  flex: 0 1 auto; }
.headerRow button[name="headerRemove"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
  min-width: 75px;
  flex: 0 0 auto; }

.request-form {
  margin-top: 0.6em; }

div.tab-content {
  margin-top: 2px; }

/* REQUEST HEADERS */
[hidable-editor-form].collapsed [hiddable] {
  display: none; }

[hidable-editor-form].collapsed .collapse-form .caret {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

[hidable-editor-form] .collapse-form .caret {
  -webkit-transition: -webkit-transform 0.3s; }

label.collapse-form {
  /*font-size: 14px;*/
  color: #666666;
  font-weight: 300;
  margin-bottom: 10px;
  display: block; }

.card {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 1px #d8d8d8 solid;
  position: relative; }

.form-action-bottom {
  margin-top: 7px; }

.container .CodeMirror {
  border: 1px #F7F7F7 solid;
  height: auto;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  min-height: 55px; }
.container .CodeMirror pre {
  word-break: break-word;
  word-wrap: break-word; }
.container .CodeMirror.noborder {
  border: none; }
.container .CodeMirror.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
  display: block;
  color: black;
  font-family: monospace;
  padding: 0 4px;
  line-height: 1.3; }

.CodeMirror-scroll {
  cursor: text; }

.cursor-pointer {
  cursor: pointer; }

.dropdown-menu > li > a.btn-primary {
  color: #fff;
  cursor: pointer; }
.dropdown-menu > li > a.btn-primary:hover {
  background-color: #3276b1; }

.tabbable ul.nav.nav-tabs {
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: none; }
.tabbable ul.nav.nav-tabs li a {
  cursor: pointer;
  padding-bottom: 5px;
  color: #333; }
.tabbable ul.nav.nav-tabs li a:hover {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline; }
.tabbable ul.nav.nav-tabs li.active a {
  border-bottom: none;
  margin-top: 0px;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  border-top: 3px #ff7b7b solid;
  font-weight: 400;
  padding-top: 8px; }
.tabbable ul.nav.nav-tabs li.active a:hover {
  text-decoration: none; }

div.file-drop {
  min-height: 150px;
  width: 100%;
  border: 3px #b0b0f7 dashed;
  display: flex;
  align-items: center;
  justify-content: center; }
div.file-drop.over {
  border: 3px dashed #1010A0; }
div.file-drop.over .drop-info {
  color: #1010A0; }
div.file-drop.over .fallback-info, div.file-drop.over .btn {
  opacity: 0.4; }
div.file-drop .drop-info {
  display: block;
  font-size: 20px;
  color: #a0a0a0;
  font-weight: 400; }
div.file-drop .fallback-options {
  display: inline-block;
  text-align: center; }
div.file-drop .fallback-options .fallback-info {
  display: block;
  color: #a0a0a0;
  -webkit-transition: opacity 0.4s;
  margin-top: 5px; }
div.file-drop .fallback-options .btn {
  -webkit-transition: opacity 0.4s; }
div.file-drop #ArcHttpFilesInput {
  visibility: hidden;
  width: 0;
  height: 0; }

.files-list .item {
  display: inline-block;
  margin-right: 7px;
  padding: 3px 5px;
  border: 1px #e5e5e5 solid;
  margin-top: 7px; }
.files-list .item:hover {
  background-color: whitesmoke; }
.files-list .item:hover .badge {
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
