<!DOCTYPE html>
<html data-ng-app="RestClient" lang="en" data-ng-csp="">
    <head>
        <title>Rest Client App for Google Chrome</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="libs/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="css/main.css" rel="stylesheet" media="screen">
    </head>
    <body ng-controller="AppController">
        <div id="appContainer">
            <nav id="appNav">
                <menu type="toolbar" role="menu">
                    <li role="presentation" ng-class="{'selected':isPathCurrent('/request')}" ng-click="goto('/request')">
                        <a href="#/request">Request</a>
                    </li>
                    <li role="presentation" ng-class="{'selected':isPathCurrent('/socket')}" ng-click="goto('/socket')">
                        <a href="#/socket">Socket</a>
                    </li>
                    <li role="presentation" ng-class="{'selected':isPathCurrent('/history')}" ng-click="goto('/history')">
                        <a href="#/history">History</a>
                    </li>
                    <li role="presentation" ng-class="{'selected':isPathCurrent('/collections')}" ng-click="goto('/collections')">
                        <a href="#/collections">Collections</a>
                    </li>
                </menu>
            </nav>
            <div class="container">
                <div ng-view></div>
                <div class="row">
                    {{values||json}}
                </div>
            </div>
        </div>
        <script src="libs/jquery/jquery.min.js"></script>
        <script src="libs/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="libs/angular.js/angular.js"></script>
        <script src="libs/angular.js/angular-animate.js"></script>
        <script src="libs/angular.js/angular-resource.js"></script>
        <script src="libs/angular.js/angular-route.js"></script>
        <script src="libs/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="libs/URI.js/URI.min.js"></script>
        <script src="libs/mousetrap/mousetrap.js"></script>

        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/modules.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>
</html>
