<div class="row form-group request-form">
    <div class="col-md-12">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{values.method}} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a ng-class="{'btn-primary': values.method === 'GET'}" ng-click="values.method='GET'">GET</a></li>
                    <li><a ng-class="{'btn-primary': values.method === 'POST'}" ng-click="values.method='POST'">POST</a></li>
                    <li><a ng-class="{'btn-primary': values.method === 'PUT'}" ng-click="values.method='PUT'">PUT</a></li>
                    <li><a ng-class="{'btn-primary': values.method === 'DELETE'}" ng-click="values.method='DELETE'">DELETE</a></li>
                    <li><a ng-class="{'btn-primary': values.method === 'OPTIONS'}" ng-click="values.method='OPTIONS'">OPTIONS</a></li>
                    <li class="divider"></li>
                    <li><a ng-class="{'btn-primary': ['GET','POST','PUT','DELETE','OPTIONS'].indexOf(values.method) === -1}" ng-click="editMethodOther()">OTHER</a></li>
                </ul>
            </div>
            
            <input type="url" class="form-control" id="requestUrl" placeholder="Enter request URL here" ng-model="values.url">
            
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary" tabindex="0" ng-click="runRequest()">Send</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                    <span class="caret"></span>
                    <span class="sr-only">Options</span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li role="presentation"><a href="#">Save</a></li>
                    <li role="presentation"><a href="#">Open</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a href="#">Clear</a></li>
                    <li role="presentation"><a href="#" ng-click="httpRequestPreview($event)">Preview</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a href="#">Edit URL params</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <div hidable-editor-form>
            <div class="http-form-title">
                <label class="collapse-form">HTTP headers ({{values.headers.value.length}}) <span class="caret"></span></label>
            </div>
            <tabset hiddable>
                <tab heading="Plain headers" select="refreshHeadersEditor()">
                    <textarea ui-codemirror="headersEditor.options" ng-model="headersEditor.value"></textarea>
                </tab>
                <tab heading="Headers form">
                    <http-header-editor hiddable ng-repeat="header in values.headers.value" header="header" on-remove="removeHeader(header)"></http-header-editor>
                    <div class="row form-action-bottom">
                        <div class="col-md-12">
                            <button class="btn btn-default btn-sm" type="button" title="Add new header" ng-click="addHeader()">add header</button>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="row form-group" ng-if="values.hasPayload()">
    <div class="col-md-12">
        <div hidable-editor-form>
            <div class="http-form-title">
                <label class="collapse-form">Payload <span class="caret"></span></label>
            </div>
            <tabset hiddable>
                <tab heading="Plain payload">
                    <textarea ui-codemirror="payloadEditor.options" ng-model="values.payload.value"></textarea>
                </tab>
                <tab heading="Files ({{values.files.length}})">
                    <div file-dropzone files="values.files"></div>
                    <div class="files-list">
                        <p ng-if="values.files.length > 0">Files total size : <span class="files-total-size">{{filesSizeSum()|filesize}}</span></p>
                        <div class="item" ng-repeat="file in values.files" tooltip="size: {{file.size|filesize}}, modified: {{file.lastModifiedDate|date:'short'}}">
                            {{file.name}} <span class="badge" ng-click="removeFile(file)">x</span>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>


<script type="text/ng-template" id="otherHttpMethodModal.html">
    <div class="modal-header">
        <h3>Enter HTTP method name</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input autofocus type="text" ng-model="method.name" class="form-control" ng-keydown="onKey($event)" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="httpPreviewModal.html">
    <div class="modal-header">
        <h3>HTTP request preview</h3>
    </div>
    <div class="modal-body">
        <pre>
{{http}}
        </pre>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="dismiss()">Close</button>
    </div>
</script>